@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    box-sizing: border-box;
    font-size: 15px;
    padding:0;
    margin:0;
    
}

body {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    background-color:#1E1E22;
    width: 100vw;
    height: 100vh;
    padding-bottom: 80px;
}
main{
    height:100vh;
    width:100vw;
    background-color:#303134;
}

.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    display: none;
    background-color: #7C4DFF;
    align-items: center;
    justify-content: space-around;
}
.navOp{
    display:flex;
}
.nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link img {
    transition: opacity 0.3s ease;
}
.nav-link img {
    transition: opacity 0.3s ease;
}
.nav-link .active {
    display: block;
    opacity: 1;
}
.nav-link .inactive {
    display: none;
    opacity: 0;
}

.home-a, .calendar-a, .customization-a {
    display: none;
}
.home-i, .calendar-i, .customization-i {
    display: block;
}
.home{
    height:100%;
    width:100%;
    background-color: #1E1E22;
    padding-top: 25px;
    z-index: 9;
}
.calendar{
    height:100vh;
    width:100vw;
    background: color #555;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.calendar h1{
    color:#DDDDE1;
    font-size:25px;
    font-weight:bold;
    margin-top: 5px;
}
.customization{
    height:100vh;
    width:100vw;
    background-color:#1E1E22;    
}
.customization h1{
    color:#DDDDE1;
    font-size:25px;
    font-weight:bold;
    margin-top: 5px;
    margin-left:20px;
}
.customization h2{
    color:#81809E;
    font-size:15px;
    margin-left:20px;
    margin-bottom:20px;
}

.contener{
    height:30%;
    width:92%;
    background-color:#7C4DFF ; 
    margin: auto;
    border-radius: 16px;
    padding-bottom: 25px;
}
.start{
    height: 41px;
    width: 125px;
    background-color: #fff;
    color:#7C4DFF;
    border: none;
    border-radius: 12px;
    font-weight: bold;
    font-size: 14px;
    position: relative;
    bottom: 25px;
    cursor: pointer;
    margin-left:16px;
    margin-bottom: 25px;
}
.text{
    font-weight: bolder;
    font-size: 24px;
    color:#DDDDE1;
    width: 200px;
    margin-left: 16px;
    margin-bottom: clamp(20px,25%,55px);
}
.workOuts h1{
    color:#DDDDE1;
    font-size:20px;
    font-weight:bold;
}
.workOuts{
    width:92%;
    margin:auto;
    margin-top:40px;
}
li{
    width: 92%;
    height: 81px;
    background-color: #202023;
    margin: auto;
    border-radius: 16px;
    margin-top: 30px;
    display: flex;
    align-items:start ;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 10%;
    padding-top: 20px;
}
ul{
    list-style: none;

}
.workOutName{
    color:#DDDDE1;
    font-size:16PX;
    font-weight:500;
}
.stats{
    color:#81809E;
    font-size:15PX;

}
.li div{
    text-align: center;
    height: 81px;
}
.howTo{
    margin-top: 0px;
    margin-right: 25px;
    background-color: #151515;
    border: none;
    padding:10px 20px;
    font-size: 12px;
    border-radius: 25px;
    font-weight: bold;
    color:#7C4DFF;
}
a{
    text-decoration:none;
    color:#7C4DFF;
}
.page{
    display:none;
}
.signUp , .logIn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background-color: #1E1E22;
}
.logIn{
    background-color: #7C4DFF;
    display: none;
}
.logInOP{
    display: flex;
}
.signUpCl{
    display:none;
}
.signUp h1 , .logIn h1{
    color:#DDDDE1;
    font-size:50px;
    font-weight:bold;
    margin-top: 5px;
    text-align: center;
    width: 70%;
}
input{
    width:40%;
    display:block;
    height: 40px;
    border: none;
    border-radius: 15px;
    margin-bottom: 50px;
    padding-left: 25px;
}
input::placeholder{
    color:#81809E;
    font-size:15px;
}
.signUp button , .logIn button{
    margin-top: 50px;
}
a{
    text-decoration: underline;
}
.logIn a{
    color:#1E1E22
}