@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    box-sizing: border-box;
    font-size: 15px;
    padding:0;
    margin:0;
    
}

body {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    padding-bottom:80px;
    background-color:#151515;
}
main{
    height:100vh;
    width:100vw;
    background-color:#151515;
}

.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    display: flex;
    background-color: #7C4DFF;
    align-items: center;
    justify-content: space-around;
}

.nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link img {
    transition: opacity 0.3s ease;
}
.nav-link img {
    transition: opacity 0.3s ease;
}
.nav-link .active {
    display: block;
    opacity: 1;
}
.nav-link .inactive {
    display: none;
    opacity: 0;
}

.home-a, .calendar-a, .customization-a {
    display: none;
}
.home-i, .calendar-i, .customization-i {
    display: block;
}
.wrapper{
    max-height:194px;
    display:flex;
    overflow:scroll;
    width:100%;
    scroll-behavior:smooth;
    align-items:end;
    margin-top:50px;
}
.wrapper::-webkit-scrollbar {
    display: none;
}
.wrapper .itams{
    height:152px;
    width:144px;
    margin:0px 10px;
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    color:white;
    background-color:#202023;
    border-radius: 16px;
    margin-left:16px;
    min-width:144px;
    flex-direction:column;
    padding:0 0 8px 0;
}
.home{
    height:100vh;
    width:100vw;
    background-color: #1E1E22;
}
.calendar{
    height:100vh;
    width:100vw;
    background-color:red;
}
.customization{
    height:100vh;
    width:100vw;
    background-color:blue;
    
}
.circle .progress {
    width: 66px;
    height: 66px;
    border-radius: 50%;
    background: conic-gradient(#7C4DFF 0%, #7C4DFF 45%, #fff 45%, #fff 315%);
    box-sizing: border-box;
    margin: 6px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7C4DFF;
    font-size: 14px;
    font-weight: bold;
}

.progress{
    width: 60px; 
    height: 60px;
    border-radius: 50%;
    background-color:#202023;;
    color: #7C4DFF;
    font-size: 14px;
    font-weight: bold;
    z-index: 555;
    
}

.itams .name{
    font-size:14px;
    font-weight:bold;
    color:#DDDDE1;
}
.itams .remaining{
    font-size:12px;
    color:#81809E;
} 
.text{
    border:2px solid #7C4DFF;
    padding: 0;
    display:flex;
    justify-content: space-between;
    
    align-items: center;
    flex-direction:column;
    height:60px;
}